.idea/
degree_forward/default/__pycache__/views.cpython-35.pyc
degree_forward/default/__pycache__/
degree_forward/default/migrations/__pycache__/
degree_forward/default/templatetags/__pycache__/
views/
