<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Degree Forward</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="jumbotron col-xs-10 col-xs-offset-1">
        <h1 style="text-align: center">Welcome to Degree Forward!</h1>
    </div>
    <div class="container-fluid col-xs-8 col-xs-offset-2">
        <h3 style="text-align: center">Degree planning is tedious. Let us help you with it!</h3>
        <div class="container col-xs-8 col-xs-offset-2">
            <div class="container col-xs-9 col-xs-offset-2">
                <form action="/plan/" method="POST">{% csrf_token %}
                    Choose your plan:
                    <select name="plan">
                        {% for plan in plans %}
                        <option value="{{ plan.Major }}">{{ plan.Major }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" class="btn btn-default btn-primary" value="Let's Get Started">
                </form>
            </div>
        </div>
    </div>

    <script>
        function onClick(location){
            window.location = location ;
        }
    </script>
</body>
</html>