<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Degree Forward</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="jumbotron col-xs-10 col-xs-offset-1">
        <h1 style="text-align: center">Welcome to Degree Forward!</h1>
    </div>
    <div class="container-fluid col-xs-8 col-xs-offset-2">
        <h3 style="text-align: center">Degree planning is tedious. Let us help you with it!</h3>
    </div>
    {%  if error %}
    <div class="container-fluid col-xs-8 col-xs-offset-2">
        <h4 style="text-align: center; background: rgba(255, 0, 0, 0.5);">{{ error }}</h4>
    </div>
    {% endif %}
    <div class="container col-xs-8 col-xs-offset-2">
            <div class="container col-xs-4 col-xs-offset-1">
                <h4 style="text-align: center">Register</h4>
                <form method="post" action="/register/">
                    {% csrf_token %}
                    Desired Username: <input type="text" name="username">
                    New Password: <input type="password" name="pass1">
                    Retype Password: <input type="password" name="pass2">
                    <input type="submit" value="Register Account">
                </form>
            </div>
            <div class="container col-xs-4 col-xs-offset-2">
                <h4 style="text-align: center">Login</h4>
                <form method="post" action="/login/">
                    {% csrf_token %}
                    Username: <input type="text" name="username">
                    Password: <input type="password" name="password">

                    <input type="submit" value="Login" class="btn">
                </form>
            </div>
        </div>

    <script>
        function onClick(location){
            window.location = location ;
        }
    </script>
</body>
</html>