<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    Welcome {{ uname }}!
    {% if error %}
    <div class="container col-xs-8 col-xs-offset-2">
        <h3>{{ error }}</h3>
    </div>
    {% endif %}
    <div class="container col-xs-8 col-xs-offset-2">
        Create a new plan:
        <div class="container col-xs-9 col-xs-offset-2">
            <form action="/newPlan/" method="POST">
                {% csrf_token %}
                <select name="plan">
                    {% for info in tempList %}
                    <option value="{{ info }}">{{ info }}</option>
                    {% endfor %}
                </select>
                <select name="entry">
                    <option value="Fall">Fall</option>
                    <option value="Spring">Spring</option>
                </select>
                <input type="submit" class="btn btn-default btn-primary" value="Let's Get Started">
            </form>
        </div>
    </div>
    <div class="container col-xs-8 col-xs-offset-2">
    Restore a previous plan:
        <div class="container col-xs-9 col-xs-offset-2">
            <form action="/existingPlan/" method="POST">
                {% csrf_token %}
                Restore a plan that you've worked on already:
                <select name="plan">
                    {% for plan in degList %}
                    <option value="{{ plan.id }}">{{ plan.Major }}</option>
                    {% endfor %}
                </select>
                <input type="submit" class="btn btn-default btn-primary" value="Let's Get Started">
            </form>
        </div>
    </div>
</body>
</html>