{% load array_access %}
<!DOCTYPE html>
<html lang="en" style="min-height: 100%">
<head>
    <meta charset="UTF-8">
    <title>Degree Forward</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body style="min-height: 100%">
    <div class="container-fluid col-xs-9" style="background-color: lightgrey; padding-top: 20px; padding-bottom: 20px; min-height: 100%">
        <div class="container-fluid" style="margin-bottom:20px">
            {{ plan }} - {{ credits }} credits
            <input type="hidden" id="planID" value="{{ useplan.id }}">
        </div>
        <div class="container-fluid">
            {% for list in classList %}
            <div class="container-fluid" style="outline: 1px solid grey; margin-bottom: 10px" id="{{ forloop.counter }}">
                <div class = "container col-xs-2" style="margin-top: 10px; margin-bottom: 10px">
                    {% with forloop.counter as x %}
                    Semester {{ x }} <br>
                    Credits: <div id="{{ x }}credits" style="display: inline">{{ semCredits|lookup:x }}</div>
                    <input type="hidden" id="{{ x }}-crs" value="{{ semCredits|lookup:x }}">
                    {% endwith %}
                </div>
                {% for class in list %}
                <div class="container col-xs-1 {{ forloop.parentloop.counter }}class" style="margin-top: 10px; margin-bottom: 10px; margin-right: 30px;" id="{{ class.code }}">
                    <button class="container-fluid" style="outline: 1px solid black; width: 65px" onclick="edit('{{ class.code }}')" id="{{ class.code }}inner">{{ class.code }} {{ class.credits }} cr</button>
                    <input type="hidden" id="{{ class.code }}-sem" value="{{ forloop.parentloop.counter }}">
                    <input type="hidden" id="{{ class.code }}-prereqs" value="{{ class.prereqs }}">
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="container-fluid col-xs-3 fill" style="background-color: lightsteelblue; padding-top: 30px; min-height: 100%">
        <button onclick="window.location = '/landing/" class="btn">Return to Landing</button>
        <br>
        <div class="container-fluid" style="margin-bottom: 30px;">
            Add Class:
            <div class="container-fluid" id="addcategorydiv">

            </div>
            <div class="container-fluid" id="addcodediv">

            </div>
            <div class="container-fluid" id="addsemdiv">

            </div>
        </div>
        <div class="container-fluid" style="outline: 1px solid black; margin-bottom: 30px; background-color: lightyellow">
            Completed Courses: <br>
            Credits: <div id="cpcredits" style="display: inline">0</div>
            <div class = "container-fluid" id="completed">

            </div>
        </div>
    </div>

    <div class="hidden" id="catalog">
        <input type="hidden" id="allClasses" value="{{ classString }}">
        <input type="hidden" id="categories" value="{{ categories }}">
        {% for class in allclasses %}
        <input type="hidden" id="{{ class.code }}-info" value="{{ class.credits }},{{ class.prereqs }},{{ class.satisfies }}">
        {% endfor %}
    </div>

    <script>
        loadCatDropdown();

        function edit(classcode, semester){
            var x = window.prompt("Please Type the command you wish to perform (Choices are Move/Complete/Incomplete/Delete)").trim();
            if(x == null) return;
            if(x.toLowerCase() == 'move'){
                var destSem = window.prompt("Which semester would you like to move this class to?")
                moveClass(classcode, destSem);
            }
            else if(x.toLowerCase() == 'complete'){
                 if(document.getElementById(classcode + "inner").style.backgroundColor == "") {
                      var info = document.getElementById(classcode + '-info').value;
                      var infos = info.split(',');
                      var prereqs = infos[1].split(';');
                      if (prereqs[0] != 'NONE') {
                          for (var i = 0; i < prereqs.length; i++) {
                              pr = prereqs[i];
                              if (!(document.getElementById("completed").innerHTML.indexOf(pr.trim()) > -1)) {
                                  alert("WARNING: Degree Plan invalid. You can't complete "+classcode+" without completing "+prereqs[i]);
                              }
                          }
                      }
                      document.getElementById(classcode + "inner").style.backgroundColor = "lightgreen";
                      var content = document.getElementById(classcode + "inner").innerHTML;
                      document.getElementById("completed").innerHTML += '<p>'+content+'</p>';
                      changeCredits(classcode, 2);
                 }
            }
            else if(x.toLowerCase() == 'incomplete') {
                if(document.getElementById(classcode + "inner").style.backgroundColor == "lightgreen") {
                    document.getElementById(classcode + "inner").style.backgroundColor = "";
                    var content = document.getElementById(classcode + "inner").innerHTML;
                    var complete = document.getElementById("completed").innerHTML;
                    complete2 = complete.replace('<p>'+content+'</p>', "");
                    document.getElementById("completed").innerHTML = complete2;
                    changeCredits(classcode, 3)
                }
            }
            else if(x.toLowerCase() == 'delete'){
                if(document.getElementById(classcode + "inner").style.backgroundColor == "") changeCredits(classcode, 0);
                var choice = window.prompt("Has this class been completed? (Yes/No)");
                if(choice.toLowerCase() == 'yes'){
                    var content = document.getElementById(classcode + "inner").innerHTML;
                    document.getElementById("completed").innerHTML += '<p>'+content+'</p>';
                    var div = document.getElementById(classcode);
                    div.parentNode.removeChild(div);
                }
                else if(choice.toLowerCase() == 'no'){
                    var div = document.getElementById(classcode);
                    div.parentNode.removeChild(div);
                }
                else {
                    alert("Invald input. Please Try Again.");
                }
            }
            else{
                alert("Invalid Input. Try Again.");
                edit(classcode);
            }
        }

        function changeCredits(cc, add){
            var classStr = document.getElementById(cc + '-info').value;
            var infos = classStr.split(',');
            var crs = parseInt(infos[0]);
            var semester = document.getElementById(cc+'-sem').value;
            var semCrs = parseInt(document.getElementById(semester+'credits').innerHTML);
            var compCreds = parseInt(document.getElementById("cpcredits").innerHTML);
            var newCrs = 0;

            if(add == 3){
                newCrs = compCreds - crs;
                add -= 2;
                document.getElementById("cpcredits").innerHTML = newCrs;
            }
            if(add == 2){
                newCrs = compCreds + crs;
                add -= 2;
                document.getElementById("cpcredits").innerHTML = newCrs;
            }
            if(add == 1) newCrs = semCrs + crs;
            else newCrs = semCrs - crs;

            document.getElementById(semester+'credits').innerHTML = newCrs;
        }

        function moveClass(cc, dest) {
            var info = document.getElementById(cc + '-info').value;
            var infos = info.split(',');
            var prereqs = infos[1].split(';');
            if (prereqs[0] != 'NONE') {
                for (var i = 0; i < prereqs.length; i++) {
                    var pr = prereqs[i].toUpperCase();
                    var prsem = document.getElementById(pr + '-sem').value;
                    if (dest <= prsem && prsem != 0) {
                        alert("Unable to move class due to dependency problems. You must have " + pr + " before you can take " + cc);
                        return;
                    }
                }
            }
            var j = dest;
            while (j > 0) {
                var a = document.getElementsByClassName(j + 'class');
                for (var k = 0; k < a.length; k++) {
                    var curClass = a[k].id;
                    var curInfos = document.getElementById(curClass + '-info').value.split(',');
                    var preqs = curInfos[1];
                    if(preqs.indexOf(cc) > -1) {
                        var cprsem = document.getElementById(curClass + '-sem').value;
                        if (dest >= cprsem && cprsem != 0) {
                            alert("Unable to move class due to dependency problems. " + cc + " must not occur before " + curClass);
                            return;
                        }
                    }
                }
                j--;
            }
                changeCredits(cc, 0);
                var div = document.getElementById(cc);
                div.parentNode.removeChild(div);
                var writestring = '<div class="container col-xs-1 ' + dest + 'class" style="margin-top: 10px; margin-bottom: 10px; margin-right: 30px;" id="' + cc + '">' +
                        '<button class="container-fluid" style="outline: 1px solid black; width: 65px" onclick="edit(\'' + cc + '\')" id="' + cc + 'inner">' +
                        cc + ' ' + infos[0] + ' cr' +
                        '<input type="hidden" id="' + cc + '-sem" value="' + dest + '">' +
                        '<input type="hidden" id="' + cc + '-prereqs" value="' + infos[1] + '">' +
                        '</button>' +
                        '</div>';
                document.getElementById(dest).innerHTML += writestring;
                changeCredits(cc, 1);
        }

        function addClass(prompt, dest) {
            if (prompt != null) {
                /*
                var cc = prompt.toUpperCase();
                var info = document.getElementById(cc + '-info').value;
                if (document.getElementById(cc) == null) {
                    if (info.indexOf(',') > -1) {
                        var infos = info.split(',');
                        var prereqs = infos[1].split(';');
                        if (prereqs[0] != 'NONE') {
                            for (var i = 0; i < prereqs.length; i++) {
                                var pr = prereqs[i].toUpperCase();
                                var prsem = document.getElementById(pr + '-sem').value()
                                if (dest <= prsem) {
                                    alert("Unable to add class due to dependency problems. You must have " + pr + " before you can take " + cc);
                                    return;
                                }
                            }
                        }
                        if(document.getElementById("completed").innerHTML.indexOf(prompt) > -1){
                            var searchString = '<p>'+cc + ' ' + infos[0] + ' cr</p>';
                            var html = document.getElementById("completed").innerHTML;
                            var html2 = html.replace(searchString,"");
                            document.getElementById("completed").innerHTML = html2;
                        }
                        var writestring = '<div class="container col-xs-1 '+dest+'class" style="margin-top: 10px; margin-bottom: 10px; margin-right: 30px;" id="' + cc + '">' +
                                '<button class="container-fluid" style="outline: 1px solid black; margin-right:5px; width: 65px" onclick="edit(\'' + cc + '\')" id="' + cc + 'inner">' +
                                cc + ' ' + infos[0] + ' cr' +
                                '<input type="hidden" id="' + cc + '-sem" value="' + dest + '">' +
                                '<input type="hidden" id="' + cc + '-prereqs" value="' + infos[1] + '">' +
                                '</button>' +
                                '</div>';
                        document.getElementById(dest).innerHTML += writestring;
                        changeCredits(cc, 1);
                    }
                    else {
                        alert("That class is not available");
                        return;
                    }
                }
                else {
                    alert("Course is already present");
                    return;
                }
                */
                $.post( "/addClass/", { post: null, semester: dest, classcode: prompt, csrf-token:{% csrf_token %}} }, function(data){
                    if(data.indexOf("FAIL-COREQ") > -1) {
                        cc = data.substring(data.lastIndexOf('-')+1, data.length);
                        alert("Unable to add "+prompt+". Coreq "+cc+" is not satisfied.");
                    }
                    else if(data.indexOf("FAIL-PREREQ") > -1) {
                        cc = data.substring(data.lastIndexOf('-')+1, data.length);
                        alert("Unable to add "+prompt+". Prereq "+cc+" is not satisfied.");
                    }
                    else {
                        if(data.indexOf("WARN-CROB")) alert("WARN: Destination is over 21 credits.");
                    }
                });
            }
            else {
                return;
            }
        }

        function loadCatDropdown(){
            var selectString = 'Category: <select id="addCategory" onchange="changeCategory()" onselect="">';
            selectString += '<option value=""> --- </option>';
            var categoryString = document.getElementById("categories").value;
            var categories = categoryString.split(';');
            for(var i = 0; i < categories.length; i++){
                if (categories[i].length > 0)
                        selectString += '<option value='+categories[i]+'>'+categories[i]+'</option>';
            }
            selectString += '</select>';
            document.getElementById("addcategorydiv").innerHTML += selectString;
        }

        function changeCategory(){
            document.getElementById("addsemdiv").innerHTML = "";
            document.getElementById("addcodediv").innerHTML = "";
            var selectString = 'Class: <select id="addCode" onchange="changeClass()">';
            selectString += '<option value=""> --- </option>';
            var category = document.getElementById('addCategory').value;
            if(category == "") return;
            var catalog = document.getElementById('allClasses').value;
            var classList = catalog.split(';');
            for(var i = 0; i < classList.length; i++) {
                if (classList[i].indexOf(category) > -1 && document.getElementById(classList[i]) == null) {
                    selectString += '<option value="' + classList[i] + '">' + classList[i] + '</option>';
                }
            }
            selectString += '</select>';
            if(document.getElementById("addCode") != null){
                var div = document.getElementById("addCode");
                div.parentNode.removeChild(div);
            }
            document.getElementById("addcodediv").innerHTML += selectString;
        }

        function changeClass(){
            document.getElementById("addsemdiv").innerHTML = "";
            var selectString = 'Semester: <select id="addSem">';
            selectString += '<option value=""> --- </option>';
            if(document.getElementById("addcodediv").value == "") return;
            for(var i = 1; i < 9; i++) {
                selectString += '<option value=' + i + '>' + i + '</option>';
            }

            selectString += '</select><br><button onclick="addClassDropdowns()">Add Class</button> ';
            if(document.getElementById("addSem") != null){
                var div = document.getElementById("addSem");
                div.parentNode.removeChild(div);
            }
            document.getElementById("addsemdiv").innerHTML += selectString;
        }

        function addClassDropdowns(){
            var classcode = document.getElementById("addCode").value;
            if(classcode == "") {
                alert("Please Select a Class");
                return;
            }
            var sem = document.getElementById("addSem").value;
            if(classcode == "") {
                alert("Please Select a Semester");
                return;
            }
            /*
            var semCredits = document.getElementById(sem+'credits').innerHTML;
            var classInfos = document.getElementById(classcode+'-info').value.split(',');
            if((parseInt(semCredits) + parseInt(classInfos[0])) > 18){
                alert("Cannot add. It would put the semester over 18 credits.");
                return;
            }
            */
            addClass(classcode, sem);
        }
    </script>
</body>
</html>